AWS_REGION=us-east-1

WARMUP_LAMBDA_URL=
WARMUP_LAMBDA_API_KEY=

SCALED_READY_LAMBDA_URL=
SCALED_READY_LAMBDA_API_KEY=

WARMUP_COST_LAMBDA_URL=
WARMUP_COST_LAMBDA_API_KEY=

ANALYSE_LAMBDA_URL=
ANALYSE_LAMBDA_API_KEY=

S3_CONTENT_LAMBDA_URL=
S3_CONTENT_LAMBDA_API_KEY=

CHART_UPLOAD_LAMBDA_URL=
CHART_UPLOAD_LAMBDA_API_KEY=

AUDIT_LAMBDA_URL=
AUDIT_LAMBDA_API_KEY=

RESET_LAMBDA_URL=
RESET_LAMBDA_API_KEY=

TERMINATE_LAMBDA_URL=
TERMINATE_LAMBDA_API_KEY=

SCALED_TERMINATED_LAMBDA_URL=
SCALED_TERMINATED_LAMBDA_API_KEY=
